<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ValidarUsuariosSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ValidarUsuariosSoap1" />
                <binding name="WClienteSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WClienteSoap1" />
                <binding name="WTecnicoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WTecnicoSoap1" />
                <binding name="WAdminSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WAdminSoap1" />
                <binding name="WSFaseSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WSFaseSoap1" />
                <binding name="WDispositivoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WDispositivoSoap1" />
                <binding name="WSHistorialSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WSHistorialSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44398/ValidarUsuarios.asmx"
                binding="basicHttpBinding" bindingConfiguration="ValidarUsuariosSoap"
                contract="WSUsuarios.ValidarUsuariosSoap" name="ValidarUsuariosSoap" />
            <endpoint address="https://localhost:44398/WTecnico.asmx" binding="basicHttpBinding"
                bindingConfiguration="WTecnicoSoap" contract="WSTecnico.WTecnicoSoap"
                name="WTecnicoSoap" />
            <endpoint address="https://localhost:44398/WAdmin.asmx" binding="basicHttpBinding"
                bindingConfiguration="WAdminSoap" contract="WSAdmin.WAdminSoap"
                name="WAdminSoap" />
            <endpoint address="https://localhost:44356/WSFase.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSFaseSoap" contract="WSFases.WSFaseSoap"
                name="WSFaseSoap" />
            <endpoint address="https://localhost:44398/WDispositivo.asmx"
                binding="basicHttpBinding" bindingConfiguration="WDispositivoSoap"
                contract="WDispositivo.WDispositivoSoap" name="WDispositivoSoap" />
            <endpoint address="https://localhost:44398/WCliente.asmx" binding="basicHttpBinding"
                bindingConfiguration="WClienteSoap" contract="WSCliente.WClienteSoap"
                name="WClienteSoap" />
            <endpoint address="https://localhost:44356/WSHistorial.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSHistorialSoap"
                contract="WSHistorialTec.WSHistorialSoap" name="WSHistorialSoap" />
        </client>
    </system.serviceModel>
</configuration>